body {
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    font-family: Arial, sans-serif;
}

h1, h2, h3, p {
    color: #ffffff; /* Texto blanco */
    -webkit-text-stroke: 1px #ff0000; /* Borde rojo */
    text-shadow: 1px 1px 2px #ff0000; /* Opcional, para un efecto de contorno */
}
